.item {
    display: flex;
}

.selectedLink {
    background-color: var(--highlight-color);
    color: var(--primary-background-color);
}

.unselectedLink {
    color: var(--secondary-text-color);
}

.unselectedLink:hover {
    background-color: var(--secondary-background-color);
}

.selectedLink, .unselectedLink {
    font-size: 0.875rem;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
}